<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DeconnexionServlet</servlet-name>
        <servlet-class>servlet.DeconnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerEtudiant</servlet-name>
        <servlet-class>servlet.ListerEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NouveauEtudiant</servlet-name>
        <servlet-class>servlet.NouveauEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionEtudiant</servlet-name>
        <servlet-class>servlet.InsertionEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerEnseignant</servlet-name>
        <servlet-class>servlet.ListerEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEnseignant</servlet-name>
        <servlet-class>servlet.NewEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererEnseignant</servlet-name>
        <servlet-class>servlet.InsererEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerParent</servlet-name>
        <servlet-class>servlet.ListerParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormulaireEmploi</servlet-name>
        <servlet-class>servlet.FormulaireEmploi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutMatiereServlet</servlet-name>
        <servlet-class>servlet.AjoutMatiereServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidationAjoutServlet</servlet-name>
        <servlet-class>servlet.ValidationAjoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerDesClasse</servlet-name>
        <servlet-class>servlet.ListerDesClasse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionClasse</servlet-name>
        <servlet-class>servlet.InsertionClasse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmploiDuTempEtudiant</servlet-name>
        <servlet-class>servlet.GetEmploiDuTempEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmploiDuTempParent</servlet-name>
        <servlet-class>servlet.GetEmploiDuTempParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmploiDuTempEnseignant</servlet-name>
        <servlet-class>servlet.GetEmploiDuTempEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerEtudiantNote</servlet-name>
        <servlet-class>servlet.ListerEtudiantNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSemestre</servlet-name>
        <servlet-class>servlet.ServletSemestre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMatiereProf</servlet-name>
        <servlet-class>servlet.ServletMatiereProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddNote</servlet-name>
        <servlet-class>servlet.ServletAddNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsererNoteEleve</servlet-name>
        <servlet-class>servlet.ServletInsererNoteEleve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutDevoir</servlet-name>
        <servlet-class>servlet.AjoutDevoir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListerDevoirPr</servlet-name>
        <servlet-class>servlet.ServletListerDevoirPr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeDevoirEtudiant</servlet-name>
        <servlet-class>servlet.ListeDevoirEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotificationDevoir</servlet-name>
        <servlet-class>servlet.UpdateNotificationDevoir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailDevoirEtudiant</servlet-name>
        <servlet-class>servlet.DetailDevoirEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadDevoirEtudiant</servlet-name>
        <servlet-class>servlet.DownloadDevoirEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMoyenne</servlet-name>
        <servlet-class>servlet.ServletMoyenne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteDuTempParent</servlet-name>
        <servlet-class>servlet.GetNoteDuTempParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteEnsei</servlet-name>
        <servlet-class>servlet.GetNoteEnsei</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteEtudiant</servlet-name>
        <servlet-class>servlet.GetNoteEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsererForum</servlet-name>
        <servlet-class>servlet.ServletInsererForum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>servlet.MessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatEtudiantServlet</servlet-name>
        <servlet-class>servlet.ChatEtudiantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatParentServlet</servlet-name>
        <servlet-class>servlet.ChatParentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatEnseignantServlet</servlet-name>
        <servlet-class>servlet.ChatEnseignantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatAdminServlet</servlet-name>
        <servlet-class>servlet.ChatAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NouveauParent</servlet-name>
        <servlet-class>servlet.NouveauParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionParent</servlet-name>
        <servlet-class>servlet.InsertionParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEtudiant</servlet-name>
        <servlet-class>servlet.UpdateEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteParent1</servlet-name>
        <servlet-class>servlet.GetNoteParent1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBulletinEnseignant</servlet-name>
        <servlet-class>servlet.ServletBulletinEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsererAppreciations</servlet-name>
        <servlet-class>servlet.ServletInsererAppreciations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsererNoteEleve1</servlet-name>
        <servlet-class>servlet.ServletInsererNoteEleve1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsererNoteEleve2</servlet-name>
        <servlet-class>servlet.ServletInsererNoteEleve2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerEtudiantNote2</servlet-name>
        <servlet-class>servlet.ListerEtudiantNote2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddCoef</servlet-name>
        <servlet-class>servlet.ServletAddCoef</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNoteSemestre</servlet-name>
        <servlet-class>servlet.ServletNoteSemestre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteParent</servlet-name>
        <servlet-class>servlet.GetNoteParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecisonConseil</servlet-name>
        <servlet-class>servlet.DecisonConseil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailNoteBack</servlet-name>
        <servlet-class>servlet.DetailNoteBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateNote</servlet-name>
        <servlet-class>servlet.updateNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>servlet.pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>servlet.ConnexionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeconnexionServlet</servlet-name>
        <url-pattern>/DeconnexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerEtudiant</servlet-name>
        <url-pattern>/ListerEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NouveauEtudiant</servlet-name>
        <url-pattern>/NouveauEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionEtudiant</servlet-name>
        <url-pattern>/InsertionEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerEnseignant</servlet-name>
        <url-pattern>/ListerEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEnseignant</servlet-name>
        <url-pattern>/NewEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererEnseignant</servlet-name>
        <url-pattern>/InsererEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerParent</servlet-name>
        <url-pattern>/ListerParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormulaireEmploi</servlet-name>
        <url-pattern>/FormulaireEmploi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutMatiereServlet</servlet-name>
        <url-pattern>/AjoutMatiereServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidationAjoutServlet</servlet-name>
        <url-pattern>/ValidationAjoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerDesClasse</servlet-name>
        <url-pattern>/ListerDesClasse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionClasse</servlet-name>
        <url-pattern>/InsertionClasse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmploiDuTempEtudiant</servlet-name>
        <url-pattern>/GetEmploiDuTempEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmploiDuTempParent</servlet-name>
        <url-pattern>/GetEmploiDuTempParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmploiDuTempEnseignant</servlet-name>
        <url-pattern>/GetEmploiDuTempEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerEtudiantNote</servlet-name>
        <url-pattern>/ListerEtudiantNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSemestre</servlet-name>
        <url-pattern>/ServletSemestre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMatiereProf</servlet-name>
        <url-pattern>/ServletMatiereProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddNote</servlet-name>
        <url-pattern>/ServletAddNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsererNoteEleve</servlet-name>
        <url-pattern>/ServletInsererNoteEleve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutDevoir</servlet-name>
        <url-pattern>/AjoutDevoir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListerDevoirPr</servlet-name>
        <url-pattern>/ServletListerDevoirPr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeDevoirEtudiant</servlet-name>
        <url-pattern>/ListeDevoirEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailDevoirEtudiant</servlet-name>
        <url-pattern>/DetailDevoirEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadDevoirEtudiant</servlet-name>
        <url-pattern>/DownloadDevoirEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMoyenne</servlet-name>
        <url-pattern>/ServletMoyenne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteDuTempParent</servlet-name>
        <url-pattern>/GetNoteDuTempParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteEnsei</servlet-name>
        <url-pattern>/GetNoteEnsei</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteEtudiant</servlet-name>
        <url-pattern>/GetNoteEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsererForum</servlet-name>
        <url-pattern>/ServletInsererForum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatEtudiantServlet</servlet-name>
        <url-pattern>/ChatEtudiantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatParentServlet</servlet-name>
        <url-pattern>/ChatParentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatEnseignantServlet</servlet-name>
        <url-pattern>/ChatEnseignantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatAdminServlet</servlet-name>
        <url-pattern>/ChatAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NouveauParent</servlet-name>
        <url-pattern>/NouveauParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionParent</servlet-name>
        <url-pattern>/InsertionParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEtudiant</servlet-name>
        <url-pattern>/UpdateEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteParent1</servlet-name>
        <url-pattern>/GetNoteParent1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBulletinEnseignant</servlet-name>
        <url-pattern>/ServletBulletinEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsererAppreciations</servlet-name>
        <url-pattern>/ServletInsererAppreciations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsererNoteEleve1</servlet-name>
        <url-pattern>/ServletInsererNoteEleve1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsererNoteEleve2</servlet-name>
        <url-pattern>/ServletInsererNoteEleve2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerEtudiantNote2</servlet-name>
        <url-pattern>/ListerEtudiantNote2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddCoef</servlet-name>
        <url-pattern>/ServletAddCoef</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNoteSemestre</servlet-name>
        <url-pattern>/ServletNoteSemestre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteParent</servlet-name>
        <url-pattern>/GetNoteParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecisonConseil</servlet-name>
        <url-pattern>/DecisonConseil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailNoteBack</servlet-name>
        <url-pattern>/DetailNoteBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateNote</servlet-name>
        <url-pattern>/updateNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <url-pattern>/ConnexionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>connexion.jsp</welcome-file>
    </welcome-file-list>
</web-app>
